name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  devsecops:
    name: DevSecOps Security Pipeline
    runs-on: ubuntu-latest

    steps:
    # ============================
    # 0. Checkout du code
    # ============================
    - name: Checkout repository
      uses: actions/checkout@v4

    # ============================
    # 1. Configuration Python
    # ============================
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    # ============================
    # 2. CodeQL (SAST)
    # ============================
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: python

    - name: Analyze with CodeQL
      uses: github/codeql-action/analyze@v3

    # ============================
    # 3. Bandit (SAST Python)
    # ============================
    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit Scan
      run: bandit -r . -ll

    # =========================
